body{
   background-color: rgb(17, 56, 82);
   overflow: hidden;
}
#container { position: relative; }

.canvas{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

h1{
    position: absolute;
    bottom: 0px;
    margin: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(223, 30, 94);
    z-index: -1;
    padding: 20px;
    font-family: 'Syne Mono', monospace;
}

.clouds{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 100%;
    animation: move 60s linear infinite;
    opacity: 0.2;
}